body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 25px;
    color: #262626;
}

li {
    list-style: none;
  }

#question-container, #result-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#question-text {
    font-size: 30px;
}

#result-text {
   font-size: 30px;
   font-weight: bold; 
}

#memo1 {
    font-size: 20px;
}

#memo2 {
    font-size: 15px;
    text-align: left;
}

#question-image {
    margin-left: auto;
    margin-right: auto;
    width:150px;
    height:auto;
}

button {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #0056b3;
}
